@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Google Sans Code";
	background: linear-gradient(to right, #74ebd5, #9face6);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("https://images.unsplash.com/photo-1518199266791-5375a83190b7?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aGVhcnRzfGVufDB8fDB8fHww");
	background-position: center;
	background-size: cover;
	max-width: 100%;
	overflow: hidden;
}

#display {
	width: 100%;
	height: 40px;
	font-size: 24px;
	text-align: right;
	margin-bottom: 20px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: #f0f0f0;
}

#new {
	margin-bottom: 15px;
}

.sidebar,
nav,
aside {
	display: none;
}

.calculator {
	background: rgb(255, 255, 255, 0.3);
	font-family: "Google Sans Code";
	padding: 20px;
	border-radius: 15px;
	max-width: 950px;
	width: 100%;
	height: 300px;
	margin-bottom: 15px;
}

.title {
	font-size: 45px;
	font-family: "DynaPuff";
	text-align: middle;
	padding: 10px;
	color: #ffe5ef;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #85495e;
}

.names {
	width: 80%;
	height: 100px;
	font-size: 24px;
	text-align: left;
	font-family: "DynaPuff";
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px;
	color: #85495e;
}

::placeholder {
	width: 75%;
	height: 40px;
	font-size: 18px;
	text-align: left;
	font-family: "Google Sans Code";
	margin-bottom: 20px;
	padding: 10px;
	color: #c97190;
}

label {
	width: 75%;
	height: 40px;
	font-size: 25px;
	text-align: left;
	margin-bottom: 25px;
	font-family: "DynaPuff";
	color: #85495e;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
}

input {
	border: 2px solid #85495e;
	border-radius: 5px;
	width: 70%;
	height: 40px;
	font-size: 15px;
	text-align: left;
	font-family: "Google Sans Code";
	padding: 5px;
	color: #85495e;
}

input:hover {
	outline: none;
	padding: 5px;
	color: #fffff;
	border-color: pink; /* Changes border color on focus */
	box-shadow: 0 0 5px rgba(255, 0, 255, 0.5);
}

input:focus {
	outline: none;
	padding: 5px;
	color: #fffff;
	border-color: red; /* Changes border color on focus */
	box-shadow: 0 0 5px rgba(255, 0, 255, 0.5);
}

.output {
	background: rgb(255, 255, 255, 0.3);
	font-family: "Google Sans Code";
	padding: 10px;
	margin-top: 10px;
	border-radius: 15px;
	max-width: 850px;
	width: 100%;
	height: 250px;
}

.squares {
	display: flex;
	justify-content: space-around;
	align-items: center;
	outline: none;
	padding: 10px;
	font-family: "DynaPuff";
}

.square-with-text {
	border: 2px solid #85495e;
	border-color: pink;
	border-radius: 5px;
	height: 100px;
	width: 220px;
	background-color: #85495e;
	color: #ffe5ef;
	-webkit-text-stroke-width: 0.25px;
	-webkit-text-stroke-color: black;
	font-size: 20px;
	border-radius: 10px;

	display: flex;
	flex-direction: column; /* Stack label & result vertically */
	align-items: center; /* Center horizontally */
	justify-content: center; /* Center vertically */
	text-align: center;
	margin: 10px;
}

/* CALCUATION */

.calculate {
	width: 100%;
	height: 150px;
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 30px;
	border: none;
	border-radius: 10px;
	background-color: #f0f0f0;
}

text {
	align-items: right;
	font-size: 22px;
	margin-left: 1px;
	font-family: "Google Sans Code";
	color: #85495e;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
}

p {
	display: flex;
	justify-content: space-around
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
}

strong {
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
}


.square-with-text p {
    margin: 2px 0; /* Small gap between label & result */
}

.square-with-text p:first-child {
    font-size: 20px; /* label size */
}

.square-with-text p:last-child {
    font-size: 20px; /* bigger result */
    font-weight: bold;
}

span {
	font-size: 12px;
	font-family: "Google Sans Code";
	color: red;
	-webkit-text-stroke-width: 0.75px;
	-webkit-text-stroke-color: red;
}

button {
	border: 2px solid #85495e;
	border-color: black;
	border-radius: 5px;
	outline: none;
	width: 20%;
	height: 40px;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
	margin-left: 60px;
	font-family: "DynaPuff";
	background-color: #85495e;
	text-align: center;
	color: #ffe5ef;
	-webkit-text-stroke-width: 0.25px;
	-webkit-text-stroke-color: #85495e;
}

button:hover {
	outline: none;
	color: #fffff;
	border-color: pink; /* Changes border color on focus */
	box-shadow: 0 0 5px rgba(255, 0, 255, 0.5);
}

button:focus {
	outline: none;
	color: #fffff;
	border-color: red; /* Changes border color on focus */
	box-shadow: 0 0 5px rgba(255, 0, 255, 0.5);
}

/* GLITTER */
@keyframes glitter {
	0% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	25% {
		-webkit-transform: scale(0.5);
		opacity: 0;
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	75% {
		-webkit-transform: scale(0.5);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

.lovecalculator {
	height: auto;
	width: auto;
	overflow: hidden;
}

img.glitter-star {
	border-radius: 50%;
	position: absolute;
	height: 10px;
	width: 10px;
	background-color: white;
	animation: glitter 2s linear 0s infinite normal;
}
